.welcome {
  z-index: 50;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 20px;
  margin: 0 auto;
  width: 280px;
  background: transparent;
  color: #fff;
  font-size: 28px;
  font-size: 1.75rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome p {
  margin: 0;
  padding: 0;
}